# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory (from testing tools like Jest)
coverage/
*.lcov

# Build artifacts
dist/
build/
.cache/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

.idea/

# IDE project settings
.idea/node_modules/
node_modules/
